<%- include ../partials/header %>
<%- include ../partials/main_nav %>
<!--Content for the edit page-->

<div class="contrainer">
    <div class="row"> 
        <div class="col-md-offset-3 col-md-6">
            <h1 class="recipe-title"> <%= title %></h1> <br><br>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField"> Name </label>
                    <input type="text" class=form-control 
                    id="nameTextField"
                    placeholde="Enter the Recipe NAme"
                    name="name" 
                    value = "<%= recipe.name %>"
                    required>
                </div>

                 <div class="form-group">
                    <label for="difficultyTextField"> Difficulty </label>
                    <input type="text" class=form-control 
                    id="difficultyTextField"
                    placeholde="Enter the Difficulty"
                    name="difficulty" 
                    value = "<%= recipe.difficulty %>"
                    required>
                </div>


                    <!--when you add the description field for the "recipe" then make sure you put the <textarea> tag after required> --> 
                    <!-- also make sure you do  after required> (can be found 3:33 video 4 edit view)-->
                 <div class="form-group">
                    <label for="ingredientsTextField"> Ingredients </label>
                    <input type="text" class=form-control 
                    id="ingredientsTextField"
                    placeholde="Enter the Ingredients"
                    name="ingredients" 
                    value = "<%= recipe.ingredients %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="timeTextField"> Time  </label>
                    <input type="number" class=form-control 
                    id="timeTextField"
                    placeholde="Enter the Time to cook "
                    name="time" 
                    value = "<%= recipe.time %>"
                    required>
                </div>

                 <div class="form-group">
                    <label for="priceTextField"> Price </label>
                    <input type="number" class=form-control 
                    id="priceTextField"
                    placeholde="Enter the Price "
                    name="price" 
                    value = "<%= recipe.price %>"
                    required>
                </div>
                <br>
                <button class="btn-btn-primary" type="submit"> 
                    <i class="fas fa-edit"> </i> Submit 
                </button>

                <a href="/recipes" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel </a>
            </form>

        </div>
    </div> 
</div> 
<%- include ../partials/bottom_nav %>
<%- include ../partials/footer %>
